<% if user_sessions_by_team.blank? %>
  <div>
    No users arrived yet. Check in the players who arrived in the panel below and will appear here
  </div>
<% else %>
  <table class='table-user-sessions-checked-in'>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>User</th>
      <th>Instagram</th>
      <th>New Member</th>
      <th>First Session</th>
      <th>Main Goal</th>
      <th>Status</th>
      <th>Membership</th>
      <th>Skill Level</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= form_with url: update_user_sessions_admin_session_path(id: resource.id, date: date),
                  local: true do %>
      <% user_sessions_by_team.each do |team, user_sessions| %>
        <tbody class=<%= "#{team.present? ? "session-team-#{team}" : 'session-no-team'}" %>>
          <% user_sessions.each_with_index do |user_session, index| %>
            <% user = user_session.user %>
            <% first_time = user_session.first_session || user.first_timer? %>
            <% shooting_machine_reservation = user_session.shooting_machine_reservation %>
            <%= hidden_field_tag 'user_sessions[][id]', user_session.id %>
            <tr>
              <td class='align-middle'>
                <%= "##{index + 1}" if team.present? %>
              </td>
              <td class='align-middle'>
                <%= image_tag user.image.attached? ? user.image : 'missing-profile-image.png',
                              class: 'rounded-full w-12 h-12 object-cover' %>
              </td>
              <td class='align-middle'>
                <%= link_to user_session.user_full_name,
                            admin_user_path(user_session.user_id),
                            class: 'block' %>
                <% if user_session.scouting %>
                  <%= status_tag 'yes', label: 'Evaluation', class: 'inline-block mt-2' %>
                <% end %>
                <% if shooting_machine_reservation %>
                  <%= status_tag shooting_machine_reservation.error_on_charge? ? 'error' : 'yes',
                                label: "#{user_session.goal} " \
                                       "#{shooting_machine_reservation.start_time_str}",
                                class: 'inline-block mt-2'%>
                  <% if shooting_machine_reservation.error_on_charge? %>
                    <div class="max-w-200 italic mt-2">
                      Shooting machine rental charge failed: <%= shooting_machine_reservation.error_on_charge %>
                    </div>
                  <% end %>
                <% elsif user_session.goal  %>
                  <%= status_tag 'no', label: user_session.goal, class: 'inline-block mt-2' %>
                <% end %>
              </td>
              <td class='align-middle'>
                <% if user.instagram_profile %>
                  <a href=<%= user.instagram_profile %> target='_blank' rel='noopener noreferrer'>
                    <%= user.instagram_username %>
                  </a>
                <% end %>
              </td>
              <td class='align-middle'>
                <%= status_tag user.new_member? %>
              </td>
              <td class='align-middle'>
                <%= status_tag first_time %>
              </td>
              <td class='align-middle max-w-100'>
                <%= first_time ? user.main_goal : '' %>
              </td>
              <td class='align-middle'>
                <%= status_tag user_session.state %>
              </td>
              <td class='align-middle'>
                <%= user.membership %>
              </td>
              <td class='align-middle'>
                <%= user.skill_rating || 'Unset' %>
              </td>
              <td class='align-middle'>
                <div class='flex items-center'>
                  <%= check_box_tag 'user_sessions[][checked_in]',
                                    true,
                                    user_session.checked_in,
                                    id: "checked_in-#{user_session.id}",
                                    class: 'mr-1' %>
                  <%= label_tag "checked_in-#{user_session.id}", 'Check In User' %>
                </div>
              </td>
              <td class='align-middle'>
                <div class='flex items-center'>
                  <%= check_box_tag 'user_sessions[][jersey_rental]',
                                    true,
                                    user_session.jersey_rental,
                                    id: "jersey_rental-#{user_session.id}",
                                    class: 'mr-1' %>
                  <%= label_tag "jersey_rental-#{user_session.id}",
                                "Jersey Rental - (#{number_to_currency(jersey_rental_price)})" %>
                </div>
              </td>
              <td class='align-middle'>
                <div class='flex items-center'>
                  <%= label_tag(:assigned_team, 'Assign team:', class: 'mr-2') %>
                  <%= select_tag 'user_sessions[][assigned_team]',
                                options_for_select(['light', 'dark'], user_session.assigned_team),
                                id: "user_sessions__assigned_team-#{user_session.id}",
                                include_blank: true %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
      <tr>
        <td class='text-center' colspan='11'>
          <%= submit_tag 'Update All', class: 'w-1/5 mt-4', data: { disable_with: 'Loading...' } %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
