<% if user_sessions_by_team.blank? %>
  <div>
    No users arrived yet. Check in the players who arrived in the panel below and will appear here
  </div>
<% else %>
  <table class='table-user-sessions-checked-in'>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>User</th>
      <th>First Session</th>
      <th>Status</th>
      <th>Vaccine</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= form_with(url: update_user_sessions_admin_session_path(id: resource.id, date: date),
                  local: true) do %>
      <% user_sessions_by_team.each do |team, user_sessions| %>
        <tbody class=<%= "#{team.present? ? "session-team-#{team}" : 'session-no-team'}" %>>
          <% user_sessions.each_with_index do |user_session, index| %>
            <%= hidden_field_tag('user_sessions[][id]', user_session.id) %>
            <tr>
              <td class='align-middle'>
                <%= "##{index + 1}" if team.present? %>
              </td>
              <td class='align-middle'>
                <%= image_tag(user_session.user.image.attached? ? user_session.user.image : "missing-profile-image.png",
                              class: 'rounded-full w-12 h-12 object-cover') %>
              </td>
              <td class='align-middle'>
                <%= link_to user_session.user_full_name, admin_user_path(user_session.user_id) %>
              </td>
              <td class='align-middle'>
                <%= status_tag user_session.is_free_session %>
              </td>
              <td class='align-middle'>
                <%= user_session.state.humanize %>
              </td>
              <td class='align-middle'>
                <%= user_session.user_vaccinated ? 'Yes' : 'No' %>
              </td>
              <td class='align-middle'>
                <div class='flex items-center'>
                  <%= check_box_tag('user_sessions[][checked_in]',
                                    true,
                                    user_session.checked_in,
                                    id: "checked_in-#{user_session.id}",
                                    class: 'mr-1') %>
                  <%= label_tag("checked_in-#{user_session.id}", 'Check In User') %>
                </div>
              </td>
              <td class='align-middle'>
                <div class='flex items-center'>
                  <%= check_box_tag('user_sessions[][jersey_rental]',
                                    true,
                                    user_session.jersey_rental,
                                    id: "jersey_rental-#{user_session.id}",
                                    class: 'mr-1') %>
                  <%= label_tag("jersey_rental-#{user_session.id}",
                                "Jersey Rental - (#{number_to_currency(jersey_rental_price)})") %>
                </div>
              </td>
              <td class='align-middle'>
                <div class='flex items-center'>
                  <%= label_tag(:assigned_team, 'Assign team:', class: 'mr-2') %>
                  <%= select_tag('user_sessions[][assigned_team]',
                                options_for_select(['light', 'dark'], user_session.assigned_team),
                                include_blank: true) %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
      <tr>
        <td class="text-center" colspan='9'>
          <%= submit_tag('Update All', class: 'w-1/5 mt-4', data: { disable_with: 'Loading...' }) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
