<div class="max-w-screen-md mx-auto">
  <h1 class="text-center uppercase mb-8">
    <span class="block text-6xl">Evaluation</span>
    <span class="block text-4xl">Form</span>
  </h1>
  <%= semantic_form_for([:admin, @player_evaluation], builder: ActiveAdmin::FormBuilder) do |f| %>
    <%= f.semantic_errors *@player_evaluation.errors.keys %>
    <div class="sm:flex mb-8">
      <div class="w-full">
        <div class="sm:mr-3 mb-4 sm:mb-0">
          <%= label_tag :user_id, 'User', class: 'block text-xl font-semibold uppercase mb-1' %>
          <%= f.input :user,
                      as: :select,
                      collection: User.sorted_by_full_name,
                      label: false,
                      wrapper_html: { class: 'list-none' },
                      input_html: { class: 'w-full' } %>
        </div>
      </div>
      <div class="w-full">
        <div class="sm:ml-3">
          <%= label_tag :date, 'Date', class: 'block text-xl font-semibold uppercase mb-1' %>
          <%= f.input :date,
                      label: false,
                      wrapper_html: { class: 'list-none' },
                      input_html: { value: @player_evaluation.date || Time.zone.today,
                                    class: '!w-full box-border' } %>
        </div>
      </div>
    </div>
    <div class="mb-10">
      <% player_evaluation_form_sections.each do |section| %>
        <div class="border-solid border-4 border-indigo-300 bg-indigo-100 bg-opacity-50 px-4 pb-5 mb-8">
          <h3 class="text-xl font-semibold"><%= section.title %></h3>
          <% if section.subtitle.present? %>
            <h4 class="text-lg -mt-5"><%= section.subtitle %></h4>
          <% end %>
          <% section.options.each_with_index do |option, index| %>
            <div class="text-base flex justify-between items-center mb-3">
              <div class="max-w-2xl flex items-start">
                <% selected = @player_evaluation.evaluation[section.key].to_s == option.score.to_s %>
                <%= radio_button_tag "player_evaluation[evaluation][#{section.key}]",
                                     option.score,
                                     selected,
                                     id: "#{section.key}-#{option.score}",
                                     class: 'mt-2' %>
                <%= label_tag "#{section.key}-#{option.score}", class: 'block ml-4' do %>
                  <span class="block font-bold text-gray-600"><%= "#{index + 1}. #{option.title}" %></span>
                  <span class="block"><%= option.content %></span>
                <% end %>
              </div>
              <span class="font-semibold bg-blue-300 px-3 py-1 rounded ml-10">
                <%= option.score %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="flex justify-between">
      <%= link_to 'Cancel',
                  admin_player_evaluations_path,
                  class: 'button box-border text-center w-40' %>
      <%= submit_tag 'Submit', class: 'w-40', data: { disable_with: 'Loading...' } %>
    </div>
  <% end %>
</div>
