<div id='scheduler-calendar'>
  <%= form_with url: admin_scheduler_path, method: :get, local: true, class: 'mb-5' do %>
    <%= label_tag :location, 'Filter by location:', class: 'mr-2' %>
    <%= select_tag :location,
                  options_from_collection_for_select(locations, 'id', 'name', selected_location),
                  include_blank: true,
                  class: 'w-40' %>
    <%= submit_tag 'Filter', class: 'ml-4' %>
  <% end %>

  <%= month_calendar events: sessions do |date, events| %>
    <%
      filtered_events = events.select do |event|
        validations = event.recurring[:validations]
        next(true) unless validations

        if validations.empty?
          true
        else
          validations[:day].include?(date.wday)
        end
      end.uniq { |e| e.id }.sort_by(&:time)
    %>
    <div class='pb-6'>
      <div class='mb-4'>
        <strong><%= date.day %></strong>
      </div>

      <% filtered_events.each do |event| %>
        <div>
          <% if current_admin_user.can?(Permission.ability_resource_name(Permission::MANAGE, Session.name)) %>
            <%= link_to event.title(date), admin_session_path(event.id, date: date) %>
          <% else %>
            <%= event.title(date) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
