<div class="mb-8">
  <div class='mb-2'>
    <label class="font-semibold mr-1">Current membership:</label>
    <%= status_tag user.active_subscription ? 'yes' : 'no', label: user.membership %>
  </div>
  <% if user.active_subscription %>
    <div class='mb-2'>
      <label class="font-semibold mr-1">Billing period:</label>
      <span>
        <%= "#{user.active_subscription_current_period_start.to_date} to #{user.active_subscription_current_period_end.to_date}" %>
      </span>
    </div>
    <div class='mb-2'>
      <label class="font-semibold mr-1">Status:</label>
      <span>
        <%= user.active_subscription_status.humanize %>
      </span>
    </div>
    <div class="mb-2">
      <label class="font-semibold mr-1">Cancel at current period end:</label>
      <%= status_tag user.active_subscription_cancel_at_period_end? %>
    </div>
    <div class="mb-6">
      <label class="font-semibold mr-1">Cancel at next period end:</label>
      <%= status_tag user.active_subscription_cancel_at_next_period_end? %>
    </div>
    <%= render 'active_subscription_actions', user: user %>
  <% end %>
</div>
