<body style='padding:0;'>
  <div style='margin:0 auto; width: max-content;'>
    <a href=<%= ENV['FRONTENT_URL'] %>>
      <img alt='Logo' style='width: 200px; margin: 0 auto;' src='https://content.app-us1.com/OvYpm/2021/12/13/4db103c5-71d0-44d3-9e61-7ed632316355.png'>
    </a>

    <div style='margin: 30px 0px 0px 0px; text-align: center'>
      <% if @user_session.is_free_session %>
        <img alt='First Session Booked' style='width: 350px; display: block; margin: 10px;' src='https://content.app-us1.com/OvYpm/2021/12/16/43d87bb2-95fe-4c83-8ecd-cddaf109942e.png'>
        <img alt='Important' style='width: 200px;' src='https://content.app-us1.com/OvYpm/2021/12/23/15498133-5296-442f-b31a-5738834f3dcf.png'>
      <% else %>
        <img alt='Session Booked' style='width: 350px;' src='https://content.app-us1.com/OvYpm/2021/12/16/b1a24bd0-45c9-47ec-bf4f-31a952a75a68.png'>
      <% end %>
    </div>

    <div class="location-info">
      <p>Hey <%= @user.first_name.capitalize %>!</p>
      <% if @user_session.is_free_session %>
        <p>Your first session at Crosscourt <%= @location.name %> on <%= @user_session.date.strftime(Session::MONTH_NAME_FORMAT) %> at <%= @user_session.time.strftime(Session::TIME_FORMAT).upcase %> is officialy booked.</p>
        <p>To prepare for your first session, please take a look at the following items to make sure you're ready to go!</p>
      <% else %>
        <p>Your session at Crosscourt <%= @location.name %> on <%= @user_session.date.strftime(Session::MONTH_NAME_FORMAT) %> at <%= @user_session.time.strftime(Session::TIME_FORMAT).upcase %> is officialy booked.</p>
        <p>Just in case you forgot,  we've put together some helpful reminders below.</p>
      <% end %>
    </div>

    <table class='content-info'>
      <tr>
        <td class='info-table-image-container'>
          <img alt='What To Bring' style='width: 70px;' src='https://content.app-us1.com/OvYpm/2021/12/22/aa378cfe-d7ed-4880-9932-5b7106998ba5.png'>
        </td>
        <td>
          <p class='info-table-title'>WHAT TO BRING</p>
          <p style="margin:2px;"><strong class='font-black'>Required:</strong> Athletic gear, basketball shoes, and mask for common areas</p>
          <p style="margin:2px;"><strong class='font-black'>Optional:</strong> Towel and water</p>
          <p style="margin:2px;"><strong class='font-black'>Do not bring:</strong> Basketball, colored beverages, food, and guests</p>
        </td>
      </tr>

      <tr>
        <td class='info-table-image-container'>
          <img alt='What We Provide' style='width: 60px;' src='https://content.app-us1.com/OvYpm/2021/12/22/2cb32d7c-0fed-4a77-976d-7a7a1da4a02a.png'>
        </td>
        <td>
          <p class='info-table-title'>WHAT WE PROVIDE</p>
          <p style="margin:2px;">Parking, jersey, lockers, restrooms, water filler, and good vibes</p>
          <p style="margin:2px;"><strong class='font-black'>Available for purchase:</strong> Water bottle, towels, jersey</p>
        </td>
      </tr>

      <% if @user_session.is_free_session %>
        <tr>
          <td class='info-table-image-container'>
            <img alt='COVID Compliance' style='width: 60px;' src='https://content.app-us1.com/OvYpm/2021/12/22/aedd3340-d037-4ac5-b7f2-454d4b162a60.png'>
          </td>
          <td>
            <p class='info-table-title'>COVID COMPLIANCE</p>
            <p style="margin:2px;">
              Due to recent city wide mandates as of November 8th 2021, our club requires all players to show proof of vaccination upon their first visit.
              Those exempt from the mandate have the option to provide proof of a negative COVID-19 test conducted within 72 hours of a booked session.
              We will note in our system that your vaccination status has been verified, which allows us to avoid having to ask you for proof each time you show up to sweat
            </p>
          </td>
        </tr>
      <% end %>


      <tr>
        <td class='info-table-image-container'>
          <img alt='Where To Park' style='width: 60px;' src='https://content.app-us1.com/OvYpm/2021/12/22/3754c62e-fae2-4dee-a0ec-8d9b5ab87e46.png'>
        </td>
        <td>
          <p class='info-table-title'>WHERE TO PARK</p>
          <p style="margin: 2px 0 10px 0;">There is a gated parking lot attached to the club</p>
          <img alt='Where To Park' style='width: 200px;' src='https://content.app-us1.com/OvYpm/2021/12/22/aed5fb88-f353-4aca-89af-29c675c37230.png'>
        </td>
      </tr>

      <tr>
        <td class='info-table-image-container'>
          <img alt='What to Expect' style='width: 60px; margin: 20px 0 0 0;' src='https://content.app-us1.com/OvYpm/2021/12/22/d5dc5a24-c824-49e0-9349-d5d9ba76dc6a.png'>
        </td>
        <td>
          <p class='info-table-title'>WHAT TO EXPECT</p>
          <p style="margin: 2px 0 10px 0;">Check out our Rules and Format <a href=<%= "#{ENV['FRONTENT_URL']}/rules" %>>here</a> and our How It Works video below</p>
          <a href=<%= "#{ENV['FRONTENT_URL']}/how-it-works" %>>
            <img alt='What to Expect' style='width: 300px;' src='https://content.app-us1.com/OvYpm/2021/12/22/a3aee08d-ee10-49fd-a5a1-4af18f6de028.png'>
          </a>
        </td>
      </tr>

      <tr>
        <td class='info-table-image-container'>
          <img alt='Additional Notes' style='width: 50px;' src='https://content.app-us1.com/OvYpm/2021/12/22/6820d561-8d97-4cd9-a820-e7de8cbb6584.png'>
        </td>
        <td>
          <p class='info-table-title'>ADDITIONAL NOTES</p>
          <table>
            <tr>
              <td class='info-table-item-ball'>
                <img style='width: 30px;' src='https://content.app-us1.com/OvYpm/2021/12/22/18426157-5e2d-46bf-b5e1-1f5485293557.png'>
              </td>
              <td><p class='info-table-item-text'>Please show up at least 10 minutes early. First 10 players to check in start the first game</p></td>
            </tr>
            <tr>
              <td class='info-table-item-ball'>
                <img style='width: 30px;' src='https://content.app-us1.com/OvYpm/2021/12/22/18426157-5e2d-46bf-b5e1-1f5485293557.png'>
              </td>
              <td><p class='info-table-item-text'>Keep an eye out for a text message leading up to your session that will ask you to confirm your reservation</p></td>
            </tr>
            <tr>
              <td class='info-table-item-ball'>
                <img style='width: 30px;' src='https://content.app-us1.com/OvYpm/2021/12/22/18426157-5e2d-46bf-b5e1-1f5485293557.png'>
              </td>
              <td><p class='info-table-item-text'>You have up until 5 hours before your session to cancel</p></td>
            </tr>
            <tr>
              <td class='info-table-item-ball'>
                <img style='width: 30px;' src='https://content.app-us1.com/OvYpm/2021/12/22/18426157-5e2d-46bf-b5e1-1f5485293557.png'>
              </td>
              <td><p class='info-table-item-text'>Feel free to review our FAQ page or reach out using our website if you have any questions</p></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <div style='margin: 30px 0px 0px 0px; text-align: center'>
      <img alt="Let's Get It" style='width: 200px;' src='https://content.app-us1.com/OvYpm/2021/12/23/4e870ab4-f20a-4b39-9044-6002b0f56726.png'>
    </div>
  </div>
</body>
